<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<modules>
		<module assemblyFile="LogService.dll" moduleType="LogService.LogServiceModule, LogService" moduleName="LogService" startupLoaded="True" />
		<module assemblyFile="DataBaseService.dll" moduleType="DataBaseService.DataBaseServiceModule, DataBaseService" moduleName="DataBaseService" startupLoaded="True" />
		<module assemblyFile="PermissionService.dll" moduleType="PermissionService.PermissionServiceModule, PermissionService" moduleName="PermissionService" startupLoaded="True" />
		<module assemblyFile="MotionCardServiceInovance.dll" moduleType="MotionCardServiceInovance.MotionCardServiceModule, MotionCardServiceInovance" moduleName="MotionCardServiceInovance" startupLoaded="True" />
		<module assemblyFile="ChartsService.dll" moduleType="ChartsService.ChartsServiceModule, ChartsService" moduleName="ChartsService" startupLoaded="True" />
		<module assemblyFile="SerialPortService.dll" moduleType="SerialPortService.SerialPortServiceModule, SerialPortService" moduleName="SerialPortService" startupLoaded="True" />
		<module assemblyFile="TemperatureControllerService.dll" moduleType="TemperatureControllerService.TemperatureControllerServiceModule, TemperatureControllerService" moduleName="TemperatureControllerService" startupLoaded="True" />
	</modules>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.21.0" newVersion="8.0.21.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MaterialDesignThemes.Wpf" publicKeyToken="df2a72020bd7962a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.7.1.0" newVersion="4.7.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<!-- 软件语言 中文:zh-CN 英语:en-US 越语:vi-VN -->
		<add key="Language" value="zh-CN" />
		<!-- 是否自动创建数据库 True:自动创建 False:不自动创建 -->
		<add key="AutoCreateDB" value="True" />
		<!-- 记录日志等级:DEBUG/INFO/WARN/ERROR/FATAL -->
		<add key="MessageDegree" value="INFO" />
		<!-- 全局速度 百分比-->
		<add key="GlobalVelPercentage" value="100" />
		<!-- 软件多开设定 True:不允许多开 False:允许多开 -->
		<add key="OnlyRunOneInstance" value="True" />
		<!-- Apple UI 是否启用 True:启用 Flase:不启用 -->
		<add key="AppleUIEnable" value="True" />
		<!-- Apple 日志是否启用RemoteQualification True:启用 False:不启用 -->
		<add key="AppleRemoteQualificationEnable" value="False" />
		<!-- 是否自动定时登出用户功能 -->
		<add key="AutoLogoutEnable" value="False" />
		<!-- 启用自动定时登出功能无动作时间,单位秒 -->
		<add key="AutoLogoutTime" value="300" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<!-- 是否启用联锁功能 -->
		<add key="InterlockServiceEnable" value="True"/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>